<div class="w-full min-h-screen text-gray-100 text-3xl grid grid-cols-4">

  <div class="text-center col-span-3">
    <div class="flex items-center justify-center">
      <div>
        <h2 class="font-serif text-gray-100 text-xl">A non-copyright-infriging project by CanadyTech</h1>
        <h1 class="title">JEOPARODY!</h1>

        <p class="">Go to <span class="font-mono">localhost:4000/join</span> to play!</p>

        <p class="mt-4">Enter room code:</p>
        <p><%= @game.code %></p>
      </div>
    </div>
  </div>

  <div class="text-center pr-8">
    <h1>Player List</h1>
    <div>
      <%= for player <- @players do %>
        <p><%= player.name %></p>
      <% end %>
    </div>
  </div>

</div>
