<div id="playerbar" class="text-2xl w-full text-center flex items-center justify-center">
  <%= for player <- @game.players do %>
      <div class="px-4 mx-4 mt-2 bg-gray-400 rounded <%= playerbar_player_classes(player, @buzzed_in_player, @correct) %>"
        <b><%= player.name %></b>
        <p class="text-3xl p-2 mb-2">100</p>
      </div>
  <% end %>
</div>

<div class="flex items-center justify-center mt-8 px-4 dollar-value font-serif">

  <p class="text-gray-100 text-center mx-10" style="font-size: 4rem">
    <%= @question.text %>
  </p>
</div>
